doctype html
html(lang="ko")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title node+express website
  body 
    h1 홈페이지에 오신것을 환영합니다 
    
    include includes/comm_header.pug
    main 
      p 공사중입니다.
    include includes/comm_footer.pug
    
    