doctype html
html(lang="ko")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title node+express website
    include includes/comm_style.pug
  body 
    h1(class="d-none") 오시는 길 페이지 입니다 
    
    include includes/comm_header.pug
    main 
      h2 오시는 길 페이지입니다.
    include includes/comm_footer.pug
    
    